.modern-tech__container {
  max-width: 1440px;
  padding: 0;
}
.modern-tech__wrapper {
  display: flex;
  
  img {
    display: block;
    width: 640px;
    height: auto;
    object-fit: cover;
  }
}

.modern-tech__text-wrapper {
  width: 100%;
  max-width: 790px;
  padding-left: 40px;
  padding-top: 38px;
  
  h2 {
    position: relative;
    z-index: 1;
    margin: 0;
    margin-bottom: 15px;
    padding-top: 20px;
    color: #272727;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    
    &::before {
      left: 25px;
    }
  }
  
  p {
    margin: 0;
    margin-bottom: 27px;
  }
}

.modern-tech__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.modern-tech__item {
  display: flex;
  
  h3 {
    margin: 0;
    margin-bottom: 5px;
    color: #000;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
  
  p {
    margin: 0;
    margin-bottom: 18px;
    width: 490px;
    color: #4d4d4d;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  
  &::before {
    content: "";
    display: block;
    margin-right: 20px;
    width: 100%;
    max-width: 72px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

.expert::before {
  background-image: url("../img/expert.png");
}

.modern-tech::before {
  background-image: url("../img/modern-tech.png");
}

.location::before {
  background-image: url("../img/location.png");
  background-size: 90%;
}