.prof-team__title-wrapper  {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
}

.prof-team__list-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 65px;
}

.list__doctors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.doctors__item {
  max-width: 300px;
  margin: 15px;

  img {
    display: block;
    width: 300px;
    height: auto;
  }

  span {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }
}

.prof-team__btn {
  transform: translateY(-100%);
}

@include breakpoint-down (1130px) {
  .prof-team__btn {
    display: none;
  }
}

@include breakpoint-down (1040px) {
  .list__doctors {
    width: 86.84%;
    overflow: hidden;
  }
  
  .prof-team__btn {
    display: none;
  }
}

@include breakpoint-down (790px) {
  .doctors__item {
    width: 100%; 
  }
}