.services__text {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  max-width: 744px;
  background-image: url("../img/_d_p.png");
  background-repeat: no-repeat;
  background-position: center 15px;
  background-size: contain;
  text-align: center;

  @include retina-2x {
    & {
      background-image: url("../img/_d_P@2x.png");
    }
  }
}

.triangle {

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    width: 50px;
    height: 3px;
    background-color: $yellow;
    transform: translateX(-50%);
  }
}

.text {
  color: #4D4D4D;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;

  h2 {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
  }
}

.services__list-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 65px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  max-width: 990px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding: 32px 0;
  overflow-x: hidden;
  list-style-type: none;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 60px;
  margin-right: 12.5px;
  margin-left: 12.5px;
  width: 200px;
  height: 240px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  text-align: center;

  &::before {
    content: "";
    display: inline-block;
    width: 77px;
    height: 66px;
    margin-bottom: 13px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  p {
    margin: 0;
    margin-bottom: auto;
    color: #272727;
    font-size: 18px;
    line-height: 21px;
  }

  s {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3px;
    color: rgba(39, 39, 39, 0.25);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    &::before {
      content: "";
      display: block;
      width: 25px;
      height: 3px;
      background-color: #0A60C3;
      margin-bottom: 13px;
    }
  }

  span {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #0A60C3;
  }
}

.dental::before {
  background-image: url("../img/dental.png");

  @include retina-2x {
    & {
      background-image: url(("../img/dental@2x.png"));
    }
  }
}

.hygiene::before {
  background-image: url("../img/hygiene.png");

  @include retina-2x {
    & {
      background-image: url(("../img/hygiene@2x.png"));
    }
  }
}

.diag::before {
  background-image: url("../img/diag.png");

  @include retina-2x {
    & {
      background-image: url(("../img/diag@2x.png"));
    }
  }
}

.children::before {
  background-image: url("../img/children.png");

  @include retina-2x {
    & {
      background-image: url(("../img/children@2x.png"));
    }
  }
}

.services__btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 42px;
  height: 49px;
  background: none;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.item-left {
  background-image: url("../img/list-v-left.png");

  @include retina-2x {
    background-image: url("../img/list-v-left@2x.png");
  }
}

.item-right {
  right: 0.5px;
  background-image: url("../img/list-v-right.png");

  @include retina-2x {
    background-image: url("../img/list-v-right@2x.png");
  }
}